<!-- ***Parrilla  -->
<div id="Proyectos" class="mx-4 mt-5 text-center">

    <h1 class="text-dark mb-3">Nuestras Aplicaciones</h1>

    <div class="card-columns">
        <div class="card border-0 portfolio-item portfolio-effect__item portfolio-item--eff1">
            <img src="../../../assets/images/groups/shopping.jpg" class="card-img-top" alt="...">

            <div class="portfolio-item__info">

                <h3 class="portfolio-item__header">Tienda Virtual</h3>

                <div class="portfolio-item__links">

                    <div class="portfolio-item__link-block">

                        <a class="portfolio-item__link" href="https://marvelapp.com/prototype/673fjb0/screen/71863801" target="_blank" title="Link Title">
                            <i class="material-icons">link</i>

                        </a>

                    </div>

                </div>

            </div>

        </div>
        <div class="card border-0 portfolio-item portfolio-effect__item portfolio-item--eff1">
            <img src="../../../assets/images/groups/admin.jpg" class="card-img-top" alt="...">

            <div class="portfolio-item__info">

                <h3 class="portfolio-item__header">Administrativa</h3>

                <div class="portfolio-item__links">

                    <div class="portfolio-item__link-block">

                        <a class="portfolio-item__link" href="https://curso-angular-adv.herokuapp.com/login" target="_blank" title="Link Title">
                            <i class="material-icons">link</i>

                        </a>

                    </div>

                </div>

            </div>

        </div>
        <div class="card border-0 portfolio-item portfolio-effect__item portfolio-item--eff1">
            <img src="../../../assets/images/groups/storeOnline.jpg" class="card-img-top" alt="...">

            <div class="portfolio-item__info">

                <h3 class="portfolio-item__header">Compras Online</h3>

                <div class="portfolio-item__links">

                    <div class="portfolio-item__link-block">

                        <a class="portfolio-item__link" href="https://marvelapp.com/prototype/673fjb0/screen/72227727" target="_blank" title="Link Title">
                            <i class="material-icons">link</i>

                        </a>

                    </div>

                </div>

            </div>
        </div>
        <div class="card border-0 portfolio-item portfolio-effect__item portfolio-item--eff1">
            <img src="../../../assets/images/groups/barber.jpg" class="card-img-top" alt="...">

            <div class="portfolio-item__info">

                <h3 class="portfolio-item__header">Reservas y Turnos</h3>

                <div class="portfolio-item__links">

                    <div class="portfolio-item__link-block">

                        <a class="portfolio-item__link" href="https://marvelapp.com/prototype/673fjb0/screen/71742248" target="_blank" title="Link Title">
                            <i class="material-icons">link</i>

                        </a>

                    </div>

                </div>

            </div>
        </div>

        <div class="card border-0 portfolio-item portfolio-effect__item portfolio-item--eff1">
            <img src="../../../assets/images/groups/aforo.jpg" class="card-img-top" alt="...">

            <div class="portfolio-item__info">

                <h3 class="portfolio-item__header">Control de Aforo</h3>

                <div class="portfolio-item__links">

                    <div class="portfolio-item__link-block">

                        <a class="portfolio-item__link" href="https://marvelapp.com/prototype/673fjb0/screen/71210155" target="_blank" title="Link Title">
                            <i class="material-icons">link</i>

                        </a>

                    </div>

                </div>

            </div>

        </div>
        <div class="card border-0 portfolio-item portfolio-effect__item portfolio-item--eff1">
            <img src="../../../assets/images/groups/blog.jpg" class="card-img-top" alt="...">

            <div class="portfolio-item__info">

                <h3 class="portfolio-item__header">Blogs</h3>

                <div class="portfolio-item__links">

                    <div class="portfolio-item__link-block">

                        <a class="portfolio-item__link" target="_blank" title="Link Title">
                            <i class="material-icons">link</i>

                        </a>

                    </div>

                </div>

            </div>
        </div>

    </div>


</div>