<div id="Clientes" class="mx-4 mt-5 text-center">

    <h1 class="text-dark mb-5">Nuestros Clientes</h1>


    <div class="card-columns text-center">


        <div class="card bg-dark pointer border-0">
            <a href="https://etapro.aero/" target="_blank">
                <img src="../../../assets/images/customer/logoEtaPro.png" class="card-img-top" alt="Logo ETAPro">
            </a>
        </div>
        <div class="card pointer">
            <a href="http://consusalud.com.co/abSoftWare/#/login" target="_blank">
                <img src="../../../assets/images/customer/logoConsusalud.png" class="card-img-top" alt="Logo Consusalud">
            </a>
        </div>
        <div class="card bg-dark pointer border-0">
            <!-- <a href="https://firestore-grafica-e96db.web.app/inicio" target="_blank"> -->
            <a href="https://www.mccoy.aero/" target="_blank">
                <img src="../../../assets/images/customer/McCoy.jpg" class="card-img-top" alt="Hecho a Mano">
            </a>
        </div>
    </div>

</div>