<div id="Clientes" class="mx-4 mt-5 text-center">

    <h1 class="text-dark mb-5">Nuestros Clientes</h1>


    <div class="card-columns text-center">


        <div class="card bg-dark pointer border-0">
            <a href="https://etapro.aero/" target="_blank">
                <img src="../../../assets/images/customer/logoEtaPro.png" class="card-img-top" alt="Logo ETAPro">
            </a>
        </div>
        <div class="card pointer">
            <a href="http://devtest.byethost7.com/#/login" target="_blank">
                <img src="../../../assets/images/customer/logoConsusalud.png" class="card-img-top" alt="Logo Consusalud">
            </a>
        </div>
        <div class="card bg-dark pointer border-0">
            <a target="_blank">
                <img src="../../../assets/images/customer/hechoamano.jpg" class="card-img-top" alt="Hecho a Mano">
            </a>
        </div>
    </div>

</div>