<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
    <a #logo class="navbar-brand animate__animated animate__swing pointer" (click)="toTop('Banner', logo)">
        <img src="../../../assets/images/logoImg.png" width="120" height="50" alt="" loading="lazy">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">

        <ul class="navbar-nav">
            <li #link1 id="link1" class="nav-item">
                <a class="nav-link pointer" (click)="toTop('Nosotros', link1)">
                    <h5 class="font-weight-light mr-5">Nosotros</h5>
                </a>
            </li>
            <li #link2 id="link2" class="nav-item">
                <a class="nav-link pointer" (click)="toTop('Proyectos', link2)">
                    <h5 class="font-weight-light mr-5">Proyectos</h5>
                </a>
            </li>
            <li #link3 id="link3" class="nav-item">
                <a class="nav-link pointer" (click)="toTop('Clientes', link3)">
                    <h5 class="font-weight-light mr-5">Clientes</h5>
                </a>
            </li>
            <li #link4 id="link4" class="nav-item">
                <a class="nav-link pointer" (click)="toTop('Contactanos', link4)">
                    <h5 class="font-weight-light mr-5">Contactanos</h5>
                </a>
            </li>

        </ul>

    </div>
</nav>